Options +FollowSymLinks
RewriteEngine On

RewriteRule ^$ index.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^download$ include/download.php [L]
RewriteRule ^documentation$ include/documentation.php [L]
RewriteRule ^faq$ include/faq.php [L]
RewriteRule ^account$ include/account.php [L]
RewriteRule ^sign-in$ include/login.php [L]
RewriteRule ^sign-up$ include/register.php [L]
RewriteRule ^register$ class/controller/registerController.class.php [L]
RewriteRule ^forgot-password$ include/forgot.php [L]